aiohttp
aiosignal
annotated-types
appnope
asttokens
asyncio
attrs
autobahn
Automat
aws-lambda-powertools
aws-xray-sdk
beautifulsoup4
boto3
botocore
certifi
cffi
charset-normalizer
comm
constantly
cryptography
debugpy
decorator
et_xmlfile
executing
fastjsonschema
frozenlist
fyers_apiv3
gemini-cli
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
html5lib
httplib2
hyperlink
idna
Incremental
ipykernel
ipython
ipython_pygments_lexers
jedi
jmespath
jupyter_client
jupyter_core
kiteconnect
llvmlite
lxml
markdown-it-py
matplotlib-inline
mdurl
multidict
narwhals
nest-asyncio
numba
numpy
openpyxl
outcome
packaging
pandas
pandas-ta
parso
pendulum
pexpect
platformdirs
playwright
plotly
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyee
Pygments
pyOpenSSL
pyotp
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
pyzmq
requests
rich
s3transfer
schedule
selenium
service-identity
six
sniffio
sortedcontainers
soupsieve
stack-data
toml
tornado
tqdm
traitlets
trio
trio-websocket
Twisted
txaio
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
wcwidth
webdriver-manager
webencodings
websocket-client
wrapt
wsproto
yarl
zope.interface
